/*****************************CSS Reset******************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, sub, sup,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

html {
    font-size: 100%;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*********************************Fonts********************************************/

@font-face {
    font-family: 'logo';
    src: url('../fonts/tt-masters-demo.mastersdemoblack.otf');
    font-style: normal;
    font-weight: normal;
}

/*************************Main CSS***********************************/

/***************    General CSS    ***************/

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.cntBlock {
    width: 100%;
    min-width: 1240px;
}

.container {
    width: 1220px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    text-decoration: none;
}

.h2 {
    color: #161616;
    font-size: 48px;
    font-weight: 300;
}

/***************        fonts       ****************/
body {
    font-family: 'Roboto', sans-serif;
}

.font_2 {
    font-family: 'logo', sans-serif;
}

/****************       nav         *****************/
.nav__mobile {
    display: none;
}

.cntBlock_nav {
    background-color: #333333;
    position: fixed;
    top: 0;
    z-index: 2;
}

.nav_item {
    float: left;
}

.nav_link {
    color: #c6cacc;
    padding: 20px 10px;
    display: block;
    font-size: 12px;
    font-weight: 400;
}
.nav_link:hover, .nav_link:active {
    background: #111111;
}

.nav_item:first-child {
    padding-left: 0;
}

.nav_item:last-child {
    padding-right: 0;
}

/****************       about       ****************/

.cntBlock_about {
    background-color: #ffffff;
    margin-top: 52px;
}

.about_list {
    width: 100%;
    padding: 8px 0;
}

.about_item {
    float: left;
}

.about_item:last-child {
    padding-top: 30px;
}

.about_item:first-child {
    margin-right: 30px;
}

.logo-list_item {
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo-list_item__logo {
    padding-right: 20px;
    border-right: 1px solid #9a9a9a;
}

.logo-list_item__logo a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 38px;
    color: #404144;
    vertical-align: bottom;
}

.logo-list_item__logo span {
    color: #f86a1a;
}

.logo-list_item__desc {
    padding-top: 40px;
    padding-left: 10px;
}

.logo-list_desc {
    color: #423d45;
    font-size: 12px;
    line-height: 16px;
}

/*contacts_list*/

.contacts_item__about {
    margin-right: 20px;
}

.contacts_item__about {
    float: left;
}

.contacts_item__time, .contacts_item__address, .contacts_item__phone {
    padding-top: 0;
}

.contacts_icon {
    display: inline-block;
    vertical-align: top;
}

.icon-logo {
    width: 190px;
    height: 86px;
}

.icon-clock, .icon-geo_linear, .icon-phone {
    width: 30px;
    height: 30px;
}

.contacts_content {
    display: inline-block;
}

.contacts_title {
    margin-bottom: 5px;
}

.contacts_title, .contacts_title a {
    color: #565656;
    font-size: 24px;
    line-height: 25px;
}

.contacts_desc {
    /* Style for "Пн.-Пт.: с" */
    color: #423d45;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

/**************   hero    ****************/

.cntBlock_hero {
    background-color: #242b30;
}

.hero {
    padding: 82px 86px 72px;
    position: relative;
    background: url("../img/hero_bg.png") fixed center no-repeat;
}

.hero_content {
    position: relative;
}

.hero_title {
    font-size: 48px;
    color: #e1e6ea;
    font-weight: 300;
    margin-bottom: 20px;
}

.hero .icon {
    width: 40px;
    height: 40px;
}

.features_item span {
    font-size: 24px;
    color: #fefefe;
    position: relative;
    top: -10px;
    margin-left: 5px;
}

.hero_img__tablet {
    display: none;
}

.hero_img {
    position: absolute;
}

.hero_img__desktop {
    bottom: -20px;
    right: 250px;
}

/***************    gallery    **************/

.gallery {
    padding-top: 40px;
    padding-bottom: 40px;
}

.gallery_item .gallery_img__tablet {
    display: none;
}

.gallery_img {
    margin: 0 auto;
}

.gallery_item:focus {
    outline: 0;
}

.slick-arrow {
    font-size: 0;
    line-height: 0;
    width: 20px;
    height: 20px;
    border: 0;
    outline: 0;
    position: absolute;
    top: 50%;
    cursor: pointer;

}

.slick-prev {
    background: url("../img/arrow_s_left.svg") no-repeat;
    left: -15px;
}

.slick-next {
    background: url("../img/arrow_s_right.svg") no-repeat;
    right: -25px;
}

/**************     MAIN     ******************/

/**************   discount   ******************/

.cntBlock_discount {
    background: linear-gradient(to right, #ff6700 50%, #ffa006 50%);
}

.discount__mobile {
    display: none;
}

.discount_item {
    float: left;
    width: 33%;
}

.discount_item__1 {
    background-color: #ff6700;
    overflow: hidden;
}

.discount_item__2 {
    background-color: #d13611;
}

.discount_item__3 {
    background-color: #ffa006;
}

.discount_item-wrap {
    padding: 30px 0 0 35px;
    position: relative;
    height: 275px;
}

.discount_item__1 .discount_item-wrap {
    padding-left: 0;
}

.discount_title {
    color: #f6f5f5;
    font-size: 24px;
    font-weight: 300;
}

.discount_title div:first-child {
    margin-bottom: 5px;
}

.discount_title .font_2 {
    font-size: 48px;
}

.discount_item__1 .discount_title div:nth-child(3), .discount_item__3 .discount_title div:nth-child(2) {
    font-size: 38px;
    font-weight: 700;
}

.discount_img__logo {
    position: absolute;
    z-index: 1;
    top: 60px;
    right: 10px;
}

.discount_percentage {
    position: relative;
    top: 35px;
    left: 10px;
    font-weight: 700;
    font-size: 160px;
    color: #ffe887;
    -webkit-transform: rotate(22deg);
    -moz-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    -o-transform: rotate(22deg);
    transform: rotate(22deg);
}

.discount_percentage sup {
    vertical-align: top;
    font-size: 80px;
}

.discount_item-wrap__1 {
    border-right: 1px dashed #ffffff;
}

.discount_item-wrap__2 {
    background: url("../img/card_bg.png") -15px bottom no-repeat;
    border-right: 1px dashed #ffffff;
}

.discount_item-wrap__3 {
    background: url("../img/deliv_bg.png") -150px 80px no-repeat;
}

.scissors {
    position: absolute;
    top: 30px;
    right: -2px;
}

/************    price    ************/

.price {
    width: 1240px;
    padding-top: 40px;
    padding-bottom: 60px;
}

.price_header {
    text-align: center;
    margin-bottom: 18px;
}

.price_list {
    width: 100%;
    margin-bottom: 30px;
}

.price_item {
    position: relative;
    width: 30%;
    padding: 36px 0 0 40px;
    color: #ffffff;
    float: left;
    height: 200px;
}

.price_item__1 {
    background-color: #242b30;
}

.price_item__2 {
    background-color: #ff4953;
    margin: 0 5%;
}

.price_item__3 {
    background-color: #5fa261;
    margin-right: 0;
}

.price_price {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.price_currency {
    font-weight: 400;
}

.price_desc {
    font-size: 24px;
}

.price_icon .icon {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 18px;
    right: 25px;
}

.button {
    display: block;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #dbdfe2;
    padding: 20px 20px 20px 40px;
    cursor: pointer;
}

.price_button {
    margin: 0 auto;
}

.button img {
    vertical-align: middle;
    margin-left: 60px;
}

/***************   spare     *******************/

.cntBlock_spare {
    background-color: #f5f5f5;
}

.spare {
    background: url("../img/tools_bg.png") no-repeat left bottom;
    padding: 145px 30px 0;
    height: 500px;
}

.spare_content {
    width: 50%;
    float: right;
    color: #161616;
}

.spare_header {
    line-height: 72px;
}

.spare_desc {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 20px;
}

/**************     repair-check     ************/

.cntBlock_repair-check {
    background-color: #242b30;
}

.repair-check {
    background: url("../img/repair-check_bg.png") no-repeat fixed center;

}

.repair-check_bg-container {
    background: url("../img/repair_bg.png") no-repeat center 135px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.repair-check_content {
    border: 2px dashed #ff6700;
    background-color: rgba(36, 43, 48, 0.63);
    padding: 12px;
    width: 595px;
    margin: 0 auto;
}

.repair-check_form-wrap {
    background: #ffffff;
    padding: 30px 50px;
}

.repair-check_header {
    margin-bottom: 30px;
}

.repair-check_form label {
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    display: block;
    margin-bottom: 10px;
}

.input__phone-wrap {
    font-size: 24px;
    font-weight: 400;
    color: #b5b5b5;
    padding: 20px 18px;
    border: 1px solid #dbdfe2;
    width: 455px;
    margin-bottom: 13px;
}

#input__phone {
    color: #000000;
    border: none;
    width: 300px;
    font-size: 24px;
    font-weight: 400;
    outline: none;
}

.input-example {
    font-size: 16px;
    color: #b5b5b5;
    font-weight: 400;
    padding-left: 20px;
    margin-bottom: 20px;
}

.input-example img {
    margin-right: 5px;
    vertical-align: bottom;
}

.input-example span {
    font-weight: 700;
}

.repair-check_button {
    background-color: #ff6700;
    color: #ffffff;
}

.repair-check_button img {
    margin-left: 30px;
}

/*********************      map      **********************/

.cntBlock_contacts {
    position: relative;
}

.contacts {
    width: 380px;
    height: 340px;
    position: absolute;
    top: 65px;
    left: 120px;
    background-color: #ffffff;
    padding: 45px;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.08);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.08);
}

.contacts_item {
    margin-bottom: 20px;
}

.voyage {
    position: absolute;
    bottom: 70px;
    right: -150px;
}

.voyage_arrow {
    width: 40px;
    height: 40px;
    background-color: #ff6700;
    box-shadow: 10px 10px 13px rgba(255, 103, 0, 0.55);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 24px;
    left: -10px;
}

.voyage_content {
    position: relative;
    box-shadow: 0 10px 13px rgba(255, 103, 0, 0.55);
    width: 195px;
    padding: 8px;
    background-color: #ff6700;
}

.voyage_desc {
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #ffffff;
    text-decoration-line: underline;
    -moz-text-decoration-line: underline;
    text-decoration-style: dashed;
    -moz-text-decoration-style: dashed;
    -webkit-text-decoration-style: dashed;
    text-decoration-color: #f9f9f9;
    -moz-text-decoration-color: #f9f9f9;
    -webkit-text-decoration-color: #f9f9f9;
    cursor: pointer;
}

.cntBlock_contacts iframe {
    display: block;
    height: 470px;
    width: 100%;
}

/*********************    FOOTER     **********************/

.cntBlock_footer {
    background-color: #f5f5f5;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #c8c8c8;
}

.copy {
    float: left;
    font-size: 14px;
    line-height: 32px;
}

.social {
    float: right;
}

.social_link .icon {
    width: 30px;
    height: 30px;
    stroke-width: 0;
    fill: #c8c8c8;
}

.social_link__tw, .social_link__vk {
    margin-right: 8px;
}


/*************              TABLET             *********************/


@media (max-width: 1259px) {

    /***************    General CSS    ***************/

    .cntBlock {
        min-width: 732px;
    }
    .container {
        width: 712px;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    /*************     nav    ************/

    .nav__desktop {
        display: none;
    }

    .nav__mobile {
        display: block;
        padding: 10px;
    }

    .logo-list_item {
        padding-top: 0;
        padding-bottom: 0;
    }

    .logo-list_item__logo a {
        font-size: 30px;
        color: #f6f6f6;
    }

    .logo-list_item__desc {
        padding-top: 10px;
    }

    .logo-list_desc {
        color: #ffffff;
    }

    .burger {
        float: right;
        color: #ffffff;
        line-height: 22px;
    }

    .burger div{
        top: 23px;
    }

    .burger div, .burger div:before, .burger div:after {
        display: inline-block;
        width: 24px;
        height: 3px;
        background-color: #c6cacc;
        position: relative;
    }

    .burger div:before {
        top: -5px;
        content: '';
    }
    .burger div:after {
        top: -19px;
        content: '';
    }

    /*************     about    ***********/

    .cntBlock_about {
        margin-top: 85px;
    }

    .about_item:first-child{
        display: none;
    }

    .about_item:last-child {
        padding-top: 10px;
    }

    .contacts_item__about {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .contacts_title, .contacts_title a {
        font-size: 18px;
        line-height: 27px;
    }

    .contacts_item__phone {
        margin-right: 0;
    }

    /**********      hero     ********/

    .hero_img__desktop{
        display: none;
    }

    .hero_img__tablet {
        display: inline-block;
        right: 0;
        bottom: -30px;
    }

    /*********     gallery      *******/

    .gallery_item .gallery_img__desktop {
        display: none;
    }

    .gallery_item .gallery_img__tablet {
        display: block;
    }

    /*********     discount     *******/

    .cntBlock_discount {
        display: none;
    }

    .discount {
        padding: 0;
        display: block;
    }

    .discount_item__1 {
        width: 100%;
        background: #ff6700;
        border-bottom:1px dashed #ffffff;
    }

    .discount_item-wrap__1 {
        width: 660px;
        margin: 0 auto;
        border: none;
        height: 216px;
    }

    .discount_img__logo {
        top: 20px;
        right: 50px;
    }

    .discount_percentage {
        top: 0;
        left: 270px;
        font-size: 180px;
    }

    .discount_item-wrap__1 .scissors {
        display: none;
    }

    .discount_item__2, .discount_item__3 {
        width: 50%;
    }

    .discount_item-wrap__2, .discount_item-wrap__3 {
        width: 374px;
    }

    .discount_item-wrap__2 {
        float: right;
    }

    /*******   price   *******/

    .price_item {
        width: 48%;
    }

    .price_item__2 {
        margin: 0 0 0 4%;
    }

    .price_item__3 {
        display: none;
    }

    /*******    spare   *******/

    .spare {
        padding-top: 30px;
        -webkit-background-size: 490px;
        background-size: 490px;
        height: 350px;
    }

    .spare_desc {
        font-size: 18px;
    }

    .spare .button {
        font-size: 20px;
        padding: 10px;
    }

    .spare .button img {
        margin-left: 30px;
    }

    /********    contacts    ********/

    .contacts {
        width: 300px;
        height: 315px;
        top: 150px;
        left: 10px;
        padding: 30px;
    }

}